<!DOCTYPE html>
<html lang="en">
<header>
    <nav>
        <ul>
            <a class="header_items" href="../Home">Home</a>
        </ul>
        <ul>
            <a class="header_items" href="../Recipe/View">View all recipes</a>
        </ul>
        <ul>
            <a class="header_items" href="../Recipe/Create">Add new recipe</a>
        </ul>
    </nav>
</header>

</html>
<style>
    * {
        font-family: Roboto, sans-serif;
    }

    body {
        width: 1200px;
        margin: auto;
    }

    nav {
        background: darkblue;
    }

    ul {
        display: inline-block;
    }

    .header_items{
        text-decoration: underline;
        color: white;
    }
</style>